{% extends "lojas/base.html" %}

{% block title %}Lojinha - Carrinho{% endblock %}

{% block content %}
    <h1>Meu Carrinho</h1>
    <p style="color:red">{{ msg }}</p>
    <ol>
        {% for item in itens %}
            <li> Produto: {{ item.produto.nome }}, Quantidade: {{ item.quantidade }}</li>
            <form action="{% url 'lojas:remove_produto'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item_id" id="item_id" value="{{ item.id }}"/>
                <input type="submit" value="Remover do Carrinho"/>
            </form>
        {% endfor %}
    </ol>
    <form action="{% url 'lojas:finalizar_compra' %}" method="post">
        {% csrf_token %}
        {% if itens.count > 0 %}
            <input type="submit" value="Finalizar Compra"/>
        {% endif %}
    </form>
{% endblock %}

